
* {
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

    /******************
        GENERALITIES
    ******************/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: sans-serif;
	color: #555;
	background-color: #eee;
}

    /******************
        header
    ******************/
header{
    background: #0b1c24;
    color:white; 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    font-family: 'Roboto', sans-serif;
}


nav{
    display:flex;
    flex-direction:row;
    align-item:center;
}

a{
    text-decoration:none;
    color:white;
}

.logo-header{
    width:20rem ;
    height:20rem;
    border-radius:50%; 
    padding-top:10px;
}

    /******************
        FOOTER
    ******************/
footer{
     background: #0b1c24;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo-footer{
    width:20rem;
    height:20rem;
    border-radius:20%; 
} 

